* { box-sizing: border-box; }
*::before,
*::after { box-sizing: border-box; }
body, h1, h2, h3, h4, p, ul, ol { margin: 0; }
ul, ol { padding: 0; }
img { max-width: 100%; display: block; height: auto; }
