$font-primary: 'Inter', sans-serif;
$font-headings: 'Merriweather', Georgia, 'Times New Roman', serif;

$fs-h1: 42px;
$fs-h2: 34px;
$fs-h3: 26px;
$fs-h4: 21px;
$fs-body: 18px;
$fs-small: 15px;
$fs-meta: 13px;
