.heading-xl { font-size: $fs-h1; line-height: 1.2; }
.heading-lg { font-size: $fs-h2; line-height: 1.25; }
.heading-md { font-size: $fs-h3; line-height: 1.3; }
.heading-sm { font-size: $fs-h4; line-height: 1.4; }
