.opinion-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 340px;
  gap: 32px;
  overflow-x: auto;
}
.opinion-card {
  height: 200px;
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
