.module-grid {
  display: grid;
  grid-template-columns: 760px 440px;
  gap: $space-5;

  @include respond(laptop) {
    grid-template-columns: 1fr;
  }
}

.home-categories {
  .module-board--insert {
    padding: $space-5;
    border: 1px solid $color-bg-light;
    border-radius: $radius-md;
    background: $color-white;
  }

  &--feature-side-stack {
    .module-grid {
      grid-template-columns: 2fr 1fr;

      @include respond(laptop) {
        grid-template-columns: 1fr;
      }
    }
  }

  &--two-boxes {
    .module-grid {
      grid-template-columns: 1fr 1fr;

      @include respond(laptop) {
        grid-template-columns: 1fr;
      }
    }
  }
}
