@mixin respond($breakpoint) {
  @if $breakpoint == laptop {
    @media (max-width: $bp-laptop) { @content; }
  }

  @if $breakpoint == tablet {
    @media (max-width: $bp-tablet) { @content; }
  }

  @if $breakpoint == mobile {
    @media (max-width: $bp-mobile) { @content; }
  }

  @if $breakpoint == small {
    @media (max-width: $bp-small) { @content; }
  }
}
